.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:#307AFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#welcome {
  margin: 5rem auto;
  box-shadow: 0 1px 8px rgba(84, 79, 209, 0.2);
  width: 40rem;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  background-color: #f4f0fa;
  height: 20rem;
}


#welcome control {
  margin-bottom: 0.5rem;
}

#welcome label h1 {
  display: block;
  color: #307AFF;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}


#welcome button {
  margin: 1rem auto;
  font-size: 1.25rem;
  background-color: #307AFF;
  border: 1px solid #307AFF;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  color: white;
}

#welcome button:hover,
#welcome button:active {
  background-color: #205493;
  border-color: #205493;
}

#login {
  margin: 5rem auto;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  width: 25rem;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  background-color: #f4f0fa;
  height: 15rem;

}

#Wpage {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
}

#buto {
  margin: auto;
}

#login {
  margin: 5rem auto;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  width: 25rem;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  background-color: #f4f0fa;
  height: 20rem;
}

#login control {
  margin-bottom: 0.5rem;
}

#login button {
  margin: 1rem auto;
  font-size: 1.25rem;
  background-color: #205493;
  border: 1px solid #205493;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  color: white;
}

#login button:hover,
#login button:active {
  background-color: #205493;
  border-color: #205493;
}

#adminDash {
  margin-top: 0%;
  width: 100%;
  height: 8rem;
  display: flex;
  background-color: darkslategrey;
  color: white;
  padding: 0 10%;
  font-weight: bolder;
}

#adminDash Link {
  text-decoration: none;

}

#adminDash a:hover,
#adminDash a:active {
  color: #b864da;
}

#adminDash button {
  font-size: 1.25rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color:#205493;
  border: 1px solid #205493;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  color: white;
}


#adminDash h3 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 2rem;
}

#adminDash .button {
  margin-left: 10px;
}

#adminDash #head {
  position: relative;
  left: 30%;
}

#adminDash button:hover,
#adminDash button:active {
  background-color: #205493;
  border-color: #205493;
}

#Signup {

  margin: 1rem auto;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  width: 25rem;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  background-color: #f4f0fa;

}

#Signup control {
  margin-bottom: 0.5rem;
}

#Signup label {
  display: block;
  color: #616161;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}


#Signup button {
  margin: 1rem auto;
  font-size: 1.25rem;
  background-color: #205493;
  border: 1px solid #205493;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  color: white;
}

#Signup button:hover,
#Signup button:active {
  background-color: #205493;
  border-color: #205493;
}

div {
  padding-top: 15px;
}

#sellerDash {
  margin-top: 0%;
  width: 100%;
  height: 8rem;
  display: flex;
  background-color: darkslategrey;
  color: white;
  padding: 0 10%;
  font-weight: bolder;
}

#sellerDash Link {
  text-decoration: none;

}

#sellerDash a:hover,
#sellerDash a:active {
  color: #b864da;
}

#sellerDash button {
  font-size: 1.25rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: #307AFF;
  border: 1px solid#307AFF;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  color: white;
}


#sellerDash h3 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 2rem;
}

#sellerDash .button {
  margin-left: 10px;
}

#sellerDash #head {
  margin-left: 40%;
}

#sellerDash button:hover,
#sellerDash button:active {
  background-color: #307AFF;
  border-color: #307AFF;
}


/* buyer */

#buyerDash {
  margin-top: 0%;
  width: 100%;
  height: 8rem;
  display: flex;
  background-color: darkslategrey;
  color: white;
  padding: 0 10%;
  font-weight: bolder;
}

#buyerDash Link {
  text-decoration: none;

}

#buyerDash a:hover,
#buyerDash a:active {
  color: #b864da;
}

#buyerDash button {
  font-size: 1.25rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color:#307AFF;
  border: 1px solid #307AFF;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  color: white;
}


#buyerDash h3 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 2rem;
}

#buyerDash .button {
  margin-left: 10px;
}

#buyerDash #headBuyer {
  margin-left: 21%;
}

#buyerDash button:hover,
#buyerDash button:active {
  background-color: #307AFF;
  border-color:#307AFF;
}

#sellerComp {
  margin-top: 0%;
  width: 100%;
  height: 8rem;
  display: flex;
  background-color: darkslategrey;
  color:white;
  padding: 0 10%;
  font-weight: bolder;
}

#sellerComp control {
  margin-bottom: 0.5rem;
}

#sellerComp label {
  display: block;
  color: #616161;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}


#sellerComp button {
  margin: 1rem auto;
  font-size: 1.25rem;
  background-color: #307AFF;
  border: 1px solid #307AFF;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  color: white;
}

#sellerComp button:hover,
#sellerComp button:active {
  background-color:#307AFF;
  border-color: #307AFF;
}

#review button:hover,
#review button:active {
  background-color: #307AFF;
  border-color: #307AFF;
}

#review button {
  margin: 1rem auto;
  font-size: 0.75rem;
  background-color: #307AFF;
  border: 1px solid #307AFF;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  color: white;
  width: 10rem;
}



#placeOrder:hover,
#placeOrder:active {
  background-color: #307AFF;
  border-color:#307AFF;
}

#placeOrder {
  margin: 1rem auto;
  font-size: 0.75rem;
  background-color: #307AFF;
  border: 1px solid #307AFF;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  color: white;
  width: 25rem;

}

#addItem {
  margin: 1rem auto;
  font-size: 0.75rem;
  background-color: #307AFF;
  border: 1px solid #307AFF;
  padding: 0.5rem 1.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  color: #307AFF;
  width: 10rem;

}

#seladd {
  width: 300px;
  font-size: large;
  opacity: 0.8;
}

#itemsInCart {
  border: 3px solid gray;
  background-color: lavender;
  width: 10rem;
  padding: auto;
  /* display: table-column-group; */
}

#itemsInCartDeletButton {
  background-color: #FF6666;
}

#emptyCart {
  width: 500px;
  font-size: large;
  opacity: 0.5;
}

#createNewProduct:hover,
#createNewProduct:active {
  background-color: #307AFF;
  border-color: #307AFF;
}

#createNewProduct {
  background-color: #307AFF;
}

.editDeleteOrders:hover,
.editDeleteOrders:active {
  background-color: #307AFF;
  border-color: #307AFF;
}

.editDeleteOrders {
  background-color: #307AFF;
}